@import url("../../utils/colors.css");

.SideBarWeb {
     width: 15%;
     height: 100vh;
     position: fixed;
     top: 0%;
     left: 0;
     box-sizing: border-box;
     padding-top: 7rem;
     background-color: var(--primary-color);
     
}

.active {background-color: var(--navigation-color);}

.sideBar__link, .logout {
     width: 80%;
     height: 40px;
     box-sizing: border-box;
     margin: 0 auto;
     font-size: 25px;
     text-decoration: none;
     color: #FFF;
     border-radius: 5px;
}



.sideBar__link:hover, .logout:hover {color: #FFF; background-color: var(--navigation-color);}

.sideBar__link p {
     margin: 0;
     margin-left: 10px;
}

.settings {
     position: relative;
     top: 9rem;
}

.logout {
     /* display:  flex;
     align-items: center;
     justify-content: space-evenly; */
     cursor: pointer;
     margin-top: 10rem;
     height: auto;
     padding-left: 1.7rem;
}

.logout .logout__para {margin: 0; padding: 0px; display: inline; margin-left: 10px;}

/* .logout__icon {margin: 0;padding: 0;} */



@media (max-width: 1457px) {
     .sideBar__link {
          font-size: 1rem;
     }

     .logout{
          font-size: 1rem;
     }
}


@media (max-width: 767px) {
     .SideBarWeb {
          display: none;  
     }

}


