@import url('../../utils/colors.css');

.forgotPassword-email{
     display: block;
     margin: 0px auto;
     width: 85%;
     border: none;
     border-radius: 10px;
     background-color: #E1E1E1;
     padding: 7px 0px 7px 20px ;
     color: var(--primary-color);
     font-size: 17px;
     font-weight: 500;
}

.forgotPassword-email:focus{
     outline: none;
     border: 2px solid var(--primary-color);
}

.forgotPassword-email::placeholder{
     color: #000;
     font-weight: 500;
}

.signin-button.button-forgotPassword-disabled {
     background-color: gray;
}